$--color-primary: #4e73df !default;
/// color|1|Background Color|4
$--color-white: #ffffff !default;
/// color|1|Background Color|4
$--color-black: #000000 !default;
$--color-success: #3ac47d !default;
/// color|1|Functional Color|1
$--color-warning: #f7b924 !default;
/// color|1|Functional Color|1
$--color-danger: #d92550 !default;
/// color|1|Functional Color|1
$--color-info: #16aaff !default;
html,
body,
#app {
	background: #f8f9fe;
	height: 100%;
	padding: 0;
	margin: 0;
	font-weight: "mp-quote",-apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
}
a {
	text-decoration: none;
	color: #333;
}
p,
h1 {
	padding: 0;
	margin: 0;
}
.layout {
	min-height: 100%;
}
.wrap-wrap {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.flex-box {
	display: flex;
}
.flex-1 {
	flex: 1;
}
.flex-2 {
	flex: 2;
}
.flex-3 {
	flex: 3;
}
.wrap-between {
	box-pack: justify;
	justify-content: space-between;
}
.shadow {
	box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
		0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
		0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
		0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
.vertical_middle {
	vertical-align: middle;
}

.left {
	float: left;
}
.right {
	float: right;
}
.clearfix {
	clear: both;
	overflow: hidden;
	display: block;
}
.visible {
	visibility: hidden;
}
.space {
	letter-spacing: 3px;
}
.pl_30 {
	padding-left: 30px;
}
.mr_10 {
	margin-right: 10px;
}
.ml_10 {
	margin-left: 10px;
}
.mt_10 {
	margin-top: 10px !important;
}
.mb_10 {
	margin-bottom: 10px;
}
.mt_20 {
	margin-top: 20px;
}
.mb_20 {
	margin-bottom: 20px;
}
.mr_20 {
	margin-right: 20px !important;
}
.ml_20 {
	margin-left: 20px;
}
.cursor {
	cursor: pointer;
}
.primary_color{
	color: $--color-primary
}
.red_color {
	color: $--color-danger;
}
.green_color {
	color: $--color-success;
}
.blue_color {
	color: $--color-info;
}
.yellow_color {
	color: $--color-warning;
}
.hui_color {
	color: #aca4a4;
}
.white_color {
	color: $--color-white;
}
.dark_color {
	color: $--color-black;
}
.red_color_bg {
	background-color: $--color-danger;
}
.green_color_bg {
	background-color: $--color-success;
}
.primary_color_bg{
	background-color: $--color-primary;
}
.blue_color_bg {
	background-color: $--color-info;
}
.yellow_color_bg {
	background-color: $--color-warning;
}
.hui_color_bg {
	background-color: #aca4a4;
}
.white_color_bg {
	background-color: $--color-white;
}
.dark_color_bg {
	background-color: $--color-black;
}

.ta_center {
	text-align: center;
}
.ta_right {
	text-align: right;
}
.ta_left {
	text-align: left;
}
.ellipsis {
	max-height: 45px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.font_12 {
	font-size: 12px;
}
.font_14 {
	font-size: 14px;
}
.font_16 {
	font-size: 16px;
}
.font_18 {
	font-size: 18px;
}
.font_20 {
	font-size: 20px;
}
.font_22 {
	font-size: 22px;
}
.font_24 {
	font-size: 24px;
}
.font_26 {
	font-size: 26px;
}
.font_28 {
	font-size: 28px;
}
.font_30 {
	font-size: 30px;
}
.font_weight {
	font-weight: 800;
}

.letter-spacing-1 {
	letter-spacing: 1px;
}
.content-center{
	width:83%;
	margin:0 auto;
	background:#fff
}
.main-content{
	width:83%;
	margin:0 auto;
	background:#fff;
	margin-top:20px
}